/* src/pages/QrScanner.css */
 @import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.qrscanner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  box-sizing: border-box;
  color: inherit;
}

/* Dark Mode */
.qrscanner-container.dark {
  background-color: #393939;
  color: #fff;
}

.qrscanner-container.dark .qrscanner-video-wrapper {
  border: 4px solid #e8e8e8;
}

/* Light Mode */
.qrscanner-container.light {
  background-color: #bbbbbb;
  color: #000;
}

.qrscanner-container.light .qrscanner-video-wrapper {
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qrscanner-video-wrapper {
  margin-top: 80px;
  width: min(90vw, 300px);
  height: min(90vw, 300px);
  border-radius: 12px;
  overflow: hidden;
  align-self: center;
  background-color: #000;
}

.qrscanner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.qrscanner-iframe {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 50px);
  max-width: 100vw;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.qrscanner-heading {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
  font-weight: 500;
  transition: color 0.3s;
}

.qrscanner-container.dark .qrscanner-heading {
  color: #fff;
}

.qrscanner-container.light .qrscanner-heading {
  color: #000;
}
/* Outer Red Box */
